@import 'tailwindcss';

.fontNav {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  text-decoration: none;
}

.textFont {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
}

.titleFont {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 4rem;
}

.secondTitleFont {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 3.2rem;
}

.thirdTitleFont {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 3rem;
}

.fourthTitleFont {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 2rem;
}

.linkFont {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.buttonFont {
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.listFont {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
}

.spanFont {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
}

body {
  margin: 0;
  padding: 0;
}
body #root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  animation: aparecer 1s ease-in-out;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}